.env
*.env.*
.git
.vscode
.gitignore
README.md

docker-compose.yml
docker-compose.*.yml

**/node_modules

**/bin
**/obj
**/dist
**/build
**/*.log
**/debug.log
**/.DS_Store
**/coverage
**/*.cover
**/*.coverage
