.env
*.env.*
.git
.vscode
.gitignore
README.md

docker-compose.yml
docker-compose.*.yml

node_modules
build

**/bin
**/obj
**/dist
**/*.log
**/debug.log
**/.DS_Store
**/coverage
**/*.cover
**/*.coverage
